body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr{
  border-color: orange;
  border-width: 3px;
 
}

h1{
  font-size: 3rem;
  color: #e2dbdb;
  
}

.btn{
  font-weight: 700;
  border-radius: 400px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover{
  background-color: rgb(202, 134, 7);
  border-color: rgb(202, 134, 7);
  border-width: 5px;
}

.btn-xl{
  padding: 1rem 2rem;
}

.buffer{
  height: 10rem;
}